<html>
"<div>"
+"<img src='myPicture.jpg' width='100%' height='400px' style='opacity:1;'></img>"
+"</div>"
+ "<hr>"
+"<div id='InfoBox'>"
+"<table>"
+	"<tr>"
+		"<td><h3>Days on the trail:</h3></td>"
+		"<td><h3 id='dayCounter'></h3></td>"
+	"</tr>"
+	"<tr>"
+		"<td><h3>Miles Traveled: </h3></td>"
+		"<td><h3 id='mileCounter'></h3></td>"
+	"</tr>"
+	"<tr>"
+		"<td><h3>Current Weather:</h3></td>"
+		"<td><h3 id='weatherDisplay'></h3></td>"
+	"</tr>"
+	"<td><h3>Current Health: </h3></td>"
+	"<td><h3 id='currentHealth'></h3></td>"
+	"<tr>"
+		"<td><h3 id='pace'>Change Pace</h3></td>"
+		"<td><h3 id='displayPace'>Steady</h3></td>"
+	"</tr>"
+	"<tr>"
+		"<td><h3>Current Terrain</h3></td>"
+		"<td><h3 id='DisplayTerrain'></h3></td>"
+	"</tr>"
+	"<tr>"
+	  "<td><h3># of Players</h3></td>"
+		"<td><h3></h3></td>"
+	"</tr>"
+"</table>"
+"</div>";

</html>